#jorn_sel{
	
	float:left;
	
	width: 40em;
	
	padding:1em;
	
	text-align: center;
	
	font-size: 1.2em;
	font-family: 'Arial Narrow';/*'Avenir Next Condensed';*/
	color: #5a86d5;
	text-transform: uppercase;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom:1em;
	
	background-color: none;	

}

#fill {
	width:100%;
	float:left;
	margin-top: 0em;
	
}

#fill  *{
	margin-left: auto;
	margin-right: auto;
}

#jorn_sel * {
	display:inline-block;
	float: left;
}

.jornada {
		
	padding:0.5em;
	margin: 0.1em;
	
	cursor:pointer;
	
	color: #5a86d5;
	
	background-color: none;
	
	border-style:solid;
	border-radius:0.5em;
	border-color: #5a86d5;
	
}

.new {
	
	padding-left:0.8em;
	padding-right:0.8em;
	
	margin-left: 0.5em;
	color: white;
	font-weight:bold;
	
	border-radius:1.2em;
	border-color:#5a86d5;
	
	background-color: #5a86d5;
}

.jornada[status=open] {
	color:green;
	
	background-color: #f4fdf4;
	
	border-width: 0.2em;
	border-color: green;
}

#jorn_date {
	width: 24em;
	
	margin-left: auto;
	margin-right: auto;
	
	padding:0.1em;
	
	font-size: 1.5em;
	
	background-color: white;
	
	border-style:solid;
	border-color: #5a86d5;	
}

#jorn_date * {
	display:inline;

}
#jorn_date #jornada {
	margin-left:0.4em;
}

#jorn_date #fecha {
	text-transform: lowercase;
}

#status{
	margin-right: 0.5em;
	float:right;
	margin-top:0.1em;
}

#stat_but {
	cursor:pointer;
	width: 2em;
	height:5em;
	background-color: red;
}

#stat_but[status=open]{
	background-color: green;
}

form *{
	font-family: 'Arial Narrow';/*'Avenir Next Condensed';*/
	color: #5a86d5;
	text-transform: uppercase;
	font-size: 1em;
	
	border-style:none;
}
table {
	
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	
	border-collapse:collapse;
}
table td{
	
	background-color: white;

	border-top-style:solid;
	border-top-color: #ff816a;
	border-bottom-style:solid;
	border-bottom-color: #ff816a;
}

#fill table td input{
	margin-left: 2em;
}

#control {
	
	clear:both;
	width: 24em;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
		
	
}

#fill .butt, .butt {
	cursor:pointer;
	clear:both;
	width: 4.5em;
	display:inline-block;
	margin-left: 1.8em;	
	padding:0.3em;
	
	text-align:center;
	font-family: 'Arial Narrow';/*'Avenir Next Condensed';*/
	color: #fbfbfb;
	text-transform: uppercase;
	
	background-color: #5a86d5;
	border-style:solid;
	border-color:black;
	border-width:0.15em;
	border-radius:0.4em;
	
}


